#loginForm {
    display: flex;
    flex-direction: column;
    padding: 50px;
    max-width: 600px;
    width: 100%;
    border-radius: 10px;
    border: 2px solid $main-color;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    background: #ffffff;
    label {
        display: flex;
        flex-direction: column;
        margin: 10px 0;
        font-size: 18px;
        font-weight: 600;
    }
    input {
        height: 40px;
        margin: 10px 0;
        padding: 0 10px;
        border: none;
        border-radius: 10px;
        background-color: $main-color;
        font-size: 22px;
        &:focus {
            outline: none
        }
    }
}

.submit-button {
    height: 40px;
    min-width: 200px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    background: $button-color;
    transition: 1s ease;
    font-size: 18px;
    font-weight: 600;
    &:hover {
        background: $hover-button;
        cursor: pointer;
    }
    &:focus {
        outline: none;
    }
}

.error-row {
    color: red;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0;
}